:root{
  --main-bg : #059DC0;
  --secondary-bg : #04D4F0;
  --main-fg: #04ECF0;
  --secondary-fg: #6AF2F0;
  --main-color: white;
}
Table{
  overflow-x: scroll;
}
.overflow{
  overflow-x: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.par-middle{
  display: table;
  position: absolute;
  top: 20;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/768943/pexels-photo-768943.jpeg?cs=srgb&dl=bloom-blooming-cafe-768943.jpg&fm=jpg);
  background-attachment: fixed;
  background-size: cover;
}
.middle{
  display: table-cell;
  vertical-align: middle;
}
.brad{
  border-radius: 20px;
}
/*---------Navbar-----------------*/
.zindex{
  z-index: 2;
}

/*--------- Dashboard css ---------*/
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, var(--main-bg), var(--secondary-bg));
  overflow-x: hidden;
  padding-top: 100px;
  padding: 10px;
}
.sidebar a{
  color: var(--main-color);
  width: 100%;
  display: block;
  background: var(--secondary-bg);
  padding: 8px;
  text-decoration-style: none;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px, 2px, rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.sidebar a:hover{
  transform: scale(120%);
  background-color: var(--main-color);
  color: #04D4F0;
  text-decoration: none;
  box-shadow: 2px 4px 30px white;
}
.sidebar img{
  margin-bottom: 20px;
}
.wrapper{
  align-content: center;
  min-height: 100vh;
  justify-content: center;
  background-attachment: fixed;
  background-color: var(--main-bg);
  background-size: cover;
}
.content-wrapper{
  margin-left: 200px;
}

/*----------------Margins----------------*/
.mt{
  margin-top: 20px;
}
.ml {
  margin-left: 20px;
}

/*-----------------HomePage----------------*/
.jumbo{
  background-image: url("../src/Images/electionsbc-cropped.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--main-color);
}

/*----------------Feed for all --------------*/
.cool-bg{
  background-color:var(--main-bg);
  background-attachment: fixed;
  background-size: cover;
}
.br-5{
  border-radius: 5px;
}
.br-10{
  border-radius: 10px;
}
.br-20{
  border-radius: 20px;
}
.card, .card-footer{
  border-radius : 30px;
  padding: 10px;
  background-color: var(--secondary-fg); 
  border: none;
}
.card.title, .card-header{
  border-radius : 30px 30px 0 0;
  padding: 10px;
  background-color: var(--secondary-fg); 
  border: none; 
}
.modal-content{
  border-radius : 30px;
  padding: 10px;
  background-color: var(--secondary-bg);
}
.card-header{
  background-color: var(--main-fg);
  border: none;
}
.btn{
  border-radius: 20px;
  box-shadow: none;
 
}
.btn:hover{
  box-shadow: 0.5px 2px 15px rgba(0,0,0,0.3); 
}
.zindex{
  z-index: 2;
}
.hidden{
  display: none;
}
input[type=text], [type=date], [type=select], [type=number], [type=email], select{
  border-radius: 20px;
  background-color: var(--main-fg);
  border: transparent;
  transition: all 0.2s ease-in;
}
.form-control select{
  border-radius: 20px;
  background-color: var(--secondary-bg);
  border: transparent;
  transition: all 0.2s ease-in;
}
input[type=text]:disabled, [type=date]:disabled, [type=select]:disabled, [type=number]:disabled, [type=email]:disabled{
  border-radius: 20px;
  background: var(--main-bg);
  border: transparent;
  color: var(--secondary-bg);
}
input:disabled:hover{
  box-shadow: none;
}
input:hover{
  border-radius: 20px;
  box-shadow: 2px 2px 10px white;
  background-color: var(--main-color);
  border: transparent;
  font-size: 1.15em;
}
input:focus{
  border-radius: 20px;
  box-shadow: 2px 2px 10px white;
  background-color: var(--main-color);
  font-size: 1.15em;
  color: var(--secondary-bg);
}
input:disabled{
  border-radius: 20px;
  background-color: var(--main-bg);
  color: var(--secondary-fg);
}
.list-group-item:first-child{
  border-radius: 20px 20px 0 0;
}
.list-group-item:last-child{
  border-radius: 0 0 20px 20px;
}
.card img{
  border-radius: 20px;
  margin: 0;
}
.card{
  padding: 0;
}
.prof{
  position: relative;
}
.profile{
  height: 30%;
  align-self: center;
  background-image: url('./Images/profile.jpg');
  background-size: cover;
}
