:root{
  --main-bg-color: #059DC0;
  --sec-bg-color: #04D4F0;
  --main-accent-color: #04ECF0;
  --sec-accent-color: #6AF2F0;
  --main-text-color: #ffffff;
}
Table{
  overflow-x: scroll;
}
.overflow{
  overflow-x: scroll;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.par-middle{
  display: table;
  position: absolute;
  top: 20;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/768943/pexels-photo-768943.jpeg?cs=srgb&dl=bloom-blooming-cafe-768943.jpg&fm=jpg);
  background-attachment: fixed;
  background-size: cover;
}
.middle{
  display: table-cell;
  vertical-align: middle;
}
.brad{
  border-radius: 20px;
}
/*---------Navbar-----------------*/
.zindex{
  z-index: 2;
}

/*--------- Dashboard css ---------*/
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  padding-top: 50px;
}
.sidebar a{
  color: white;
  width: 100%;
  display: block;
  background-color: var(--main-accent-color);
  padding: 8px;
  text-decoration-style: none;
  border-radius: 20px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}
.sidebar a:hover{
  transform: scale(120%);
  background-color: white;
  color: var(--sec-accent-color);
  text-decoration: none;
  box-shadow: 2px 4px 30px white;
}
.sidebar img{
  margin-bottom: 20px;
}
.wrapper{
  align-content: center;
  min-height: 100vh;
  justify-content: center;
  background-attachment: fixed;
  background-color: #059DC0;
  background-size: cover;
}
.content-wrapper{
  margin-left: 200px;
}

/*----------------Margins----------------*/
.mt{
  margin-top: 20px;
}
.ml {
  margin-left: 20px;
}

/*-----------------HomePage----------------*/
.jumbo{
  background-image: url("../src/Images/electionsbc-cropped.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/*----------------Feed for all --------------*/
.cool-bg{
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;
}
.br-5{
  border-radius: 5px;
}
.br-10{
  border-radius: 10px;
}
.br-20{
  border-radius: 20px;
}
.card , .card.title, .card-header{
  border-radius : 30px;
  padding: 10px;
  background-color: rgb(221, 252, 251); 
}
.card-header{
  background-color: #6AF2F0;
}
.btn{
  border-radius: 15px;
}
.modal-dialog, .modal-content{
  border-radius : 30px;
}